body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 15%;
    padding: 0;
    color: #e0e0e0;
    background-color: #121212;
}

header, nav, section, footer {
    padding: 20px;
}

header {
    background: #1b1b1b;
    color: #76b947;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #76b947;
}

footer {
    text-align: center;
    background: #1b1b1b;
    color: #76b947;
}

#about, #projects {
    background: #262626;
    margin: 15px 0;
    color: #e0e0e0;
}
